<div id="video_mobile" class="mobilePage">
    <div class="wrapper im-ts-mobile-view">
        <div class="scroller">
            <div class="top_header">
                <h3>{{{title}}}</h3>
            </div>
            <div id="videoContainer"  data-video-id="{{youtube}}">  </div>
            <div class="text">
                <div class="paragraph">
                    {{#subtitle}}<h6>{{{subtitle}}}</h6>{{/subtitle}}
                    {{{descriptionmobile}}}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div><!-- container -->
</div>