<div id="columns">

    <div class="backgroundImage" style="background-image: url('{{helper(getBackgroundImage, {background.uri})}}');"></div>

    <div class="alignCenter" style="height:auto;">
        {{#title}}
                <h1 id="title" class="im-ts-title-background">{{title}}</h1><br>
        {{/title}}
        <div class="clear"></div>

        <div class="columnContent">
                {{{description}}}
        </div>



        <div id="overlayContainerNews" class="alignCenter" style="width:600px; height:auto; margin-left: -300px; ">
        </div>


    </div>


</div>
