
.tp-m-flickrcover .logo {
    margin:20px;
}

.tp-m-flickrcover .logo img {
    max-width: 100%;
}

.tp-m-flickrcover .im-cover05-highlight {
    display:inline-block;
    margin-bottom: 15px;
    position: relative;
    margin-left:20px;
    margin-right:20px;
}

.tp-m-flickrcover .im-cover05-highlight img{
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-right: 20px;
    border: 2px solid #FFF;
    vertical-align: middle;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;

}

.tp-m-flickrcover .im-cover05-highlight.view-type-1 img {
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.tp-m-flickrcover .im-cover05-highlight-text {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.tp-m-flickrcover .im-cover05-highlight .im-ts-subtitle-background,
.tp-m-flickrcover .im-cover05-highlight .im-ts-title-background{
    margin-bottom: 0px;
    display:inline-block;
     transition: box-shadow .4s ease-in-out, color .4s ease-in-out;
    -webkit-transition: box-shadow .4s ease-in-out, color .4s ease-in-out;
}

.tp-m-flickrcover .im-cover05-highlight:hover .im-ts-subtitle-background,
.tp-m-flickrcover .im-cover05-highlight:hover .im-ts-title-background {
    transition: box-shadow .4s ease-in-out, color .4s ease-in-out;
    -webkit-transition: box-shadow .4s ease-in-out, color .4s ease-in-out;
}
