<div class="im-3d im-level-3 tp-do-text-container">
<div class="tp-do-type-text im-cl-text-block im-absolute-view">
	{{#title}}
		<h1 class="im-ts-title-background" im-object="im-style-directive" data-style="{{title_style}}" data-mobile-style="{{m_title_style}}">
		{{{title}}}
		</h1><br />
	{{/title}}

	{{#subtitle}}
		<h3 class="im-ts-subtitle-background" im-object="im-style-directive" data-style="{{subtitle_style}}" data-mobile-style="{{m_subtitle_style}}">
		{{{subtitle}}}
		</h3><br />
	{{/subtitle}}
	<div class="text-block clearfix flex-scroller" style="{{paragraph_style_bg}}">
	{{#description}}
		<div class="paragraph" style="{{paragraph_style}}">
		{{{description}}}
		</div>
	{{/description}}

	{{#image}}<div class="im-tp-do-image im-media" imagetag="imagetag" im-object="im-media-directive"  data-media="{{image}}"></div>{{/image}}
	{{#youtube.id}}<div class="im-tp-do-video im-media im-media-video" im-object="im-media-directive" data-media="{{youtube}}"></div>{{/youtube.id}}
	</div>
</div>
</div>


