.tp-timeline h1 {
    display:block;
    position:relative;
    z-index:2;
}

.tp-timeline .im-cl-timeline-item {
    height: auto;
    position: relative;
    overflow: hidden;
}

.tp-timeline.nav-type-bars h1 {
    padding-top: 22px;
    padding-bottom: 22px;
}

.tp-timeline .im-tp-timeline-line {
    position:absolute;
    left: 50%;
    margin-left: -3px;
    height: 0;
    width:6px;
    opacity:0;
    top:0;
    z-index:0;
}

.tp-timeline h3.im-ts-subtitle-background {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tp-timeline .im-tp-timeline-container {
    position:relative;
    z-index:1;
}
.tp-timeline .im-scroll-handler-sticky {
    position:relative;
    z-index:1;
}

.tp-timeline .text-block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.tp-timeline h1 {
    border-radius: 0px;
    text-align:center;
}
.tp-timeline h2 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.theme-2 .tp-timeline .im-n-buttons-bars .im-n-button a {
    margin-left: 0px;
}

@media screen and (min-width: 960px){

    .theme-2 .tp-timeline > .im-ts-title-background {
        margin-left: -62px;
    }
    
    .theme-2 .tp-timeline .im-tp-timeline-line {
        margin-left: -34px;
    }

    .theme-2 .tp-timeline .im-cl-timeline {
        padding-right: 62px;
    }

    /*adjust the nav buttons*/
    .theme-2 .tp-timeline .im-n-buttons-bars .im-n-button a {
        margin-left: -62px;
    }
    .theme-2 .tp-timeline .im-n-buttons-circle .im-n-button-down {
        margin-left: -66px;
    }
    .theme-2 .tp-timeline .im-n-buttons-circle .im-n-button-up {
        margin-left: -56px;
    }
}

@media only screen and (max-width: 767px) {
    .tp-timeline .im-tp-timeline-line {
        left: auto;
        right: 2%;
        margin-right: -3px;
    }
}