<div class="im-tp-g2-view">
	<div im-object="im-gallery-directive"></div>
</div>
<div class="im-tp-g2-detail-list-container">
    <div class="im-tp-g2-detail-list">
        <ul class="im-tp-g2-list">
        </ul>
    </div>
</div>
<a href="{{urlbase}}" class="im-ts-button close-button im-sp-size-50-0_55"><span class="im-sp im-sp-times"></span></a>
<a class="im-ts-button arrow-left im-sp-size-50-0_55"><span class="im-sp im-sp-arrow-left-2"></span></a>
<a class="im-ts-button arrow-right im-sp-size-50-0_55"><span class="im-sp im-sp-arrow-right-2"></span></a>
<a class="im-ts-button arrow-left-list im-sp-size-50-0_55"><span class="im-sp im-sp-arrow-left-2"></span></a>
<a class="im-ts-button arrow-right-list im-sp-size-50-0_55"><span class="im-sp im-sp-arrow-right-2"></span></a>
