        <div id="hotspot_mobile" class="mobilePage">
            <div id="interviewBackground">
                <div class="wrapper im-ts-mobile-view">

                    <div class="scroller mobile_list">
                        {{#title}}
                        <div class="top_header">
                            <h3>{{{title}}}</h3>
                        </div>
                        {{/title}}
                        {{#alt}}
                        <div class="mobile-header-background" style="{{#settings.position}}background-position:{{settings.position}};{{/settings.position}} background-image: url('{{helper(getBackgroundImage, {uri})}}'); "></div>
                        {{/alt}}
                        {{^alt}}
                        <div class="mobile-header-background" style="{{#background.settings.position}}background-position:{{background.settings.position}};{{/background.settings.position}} background-image: url('{{helper(getBackgroundImage, {background.uri})}}'); "></div>
                        {{/alt}}
                        {{#intromobile}}
                        <div class="introtext paragraph">
                            {{{intromobile}}}
                        </div>
                        {{/intromobile}}
                        <div class="im-ts-list">
                        {{#markers}}
                        <a class="interviewButton" {{{anchor}}}>
                            {{#title}}
                            <h5 class='label'>{{{title}}}</h5>
                            {{/title}}
                            {{^title}}
                            <h5 class='label'>{{{label}}}</h5>
                            {{/title}}
                            <span class='arrow'>
                                <span class="im-sp im-sp-arrow-right"></span>
                            </span>
                        </a>
                        {{/markers}}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div><!-- container -->
            </div>
        </div>