{{#title}}
<div class="header align-{{text_align}}">
        <h1>{{{title}}}</h1>
        {{#buttonlink}}<a href="{{actionmodel.href}}" target="{{actionmodel.target}}" onclick="{{actionmodel.onclick}}">Shop online</a>{{/buttonlink}}
</div>
{{/title}}
<div class="table-grid-container">
</div>
<div class="tp-webshop-details-container">
</div>
<div class="tp-webshop-nav disabled clearfix">
    <a href="" class="im-ts-button-background up disabled"><span>{{helper(translate, next)}}</span><div class="arrow"></div></a>
    <a href="" class="im-ts-button-background down disabled"><span>{{helper(translate, previous)}}</span><div class="arrow"></div></a>
</div>
