<div class="wrapper">
    <div class="scroller">
        <div class="scroll-content">
            <header>
            {{#image}}
                <div class="logo"><img src="{{image.src}}"  {{#image.alt}} alt="{{image.alt}}"{{/image.alt}} /></div>
            {{/image}}
            </header>
            {{#title}}
                <h1 class="title im-ts-title-background">{{{title}}}</h1>
            {{/title}}
            {{#intro}}
            <div class="paragraph text-block">{{{intro}}}</div>
            {{/intro}}
            {{#label}}
            <{{action.element}} class="button start-button im-ts-button" href="{{action.href}}" target="{{action.target}}" onclick="{{action.onclick}}">{{{label}}}</{{action.element}}>
            {{/label}}
            {{#button_image}}
            <{{action.element}} class="start-button custom-image" href="{{action.href}}" target="{{action.target}}" onclick="{{action.onclick}}"><img src="{{Config.magazine_url}}{{button_image.uri}}" /></{{action.element}}>
            {{/button_image}}
        </div>
    </div>
</div>
