<div id="scroll2">       		

    <div class="backgroundImage" style="background-image:url('{{helper(getBackgroundImage, {background.uri})}}')">
    </div>
   <div class="pageScroll">

    <div class="scrolllist">
        {{#title}}	
        <h1>{{title}}</h1>
        <div class="clear"></div>
    {{/title}}  

    {{#scroll2item}}
        <h2>{{subtitle}}</h2>
        <div class="clear"></div>
        <table>
                <tr>
                <td>
         <div class="textBlock">
            <div class="paragraph">
                {{{paragraph}}}                    

            </div>
            <div class="clear"></div>
         </div>
                </td>
            <td>
        {{#image.uri}}
             <img src="{{Config.magazine_url}}{{image.uri}}" {{#image.alt}} alt="{{image.alt}}"{{/image.alt}}  />
         {{/image.uri}}
                </td>
           </tr>
        </table>
         <div class="clear"></div>
    {{/scroll2item}}

    </div>
    </div>

</div>