
/** MOBILE CSS **/
    .tp-centerscroll .im-cs-wrapper {
        width: 768px;
        left:50%;
        margin-left: -384px;
        height: 100%;

        overflow:hidden;
        position:relative;
        top:0px;
    }

    .tp-centerscroll .im-media img {
        max-width: 100%;
    }

    .tp-centerscroll .im-favorite-button {
        position:absolute;
        top:10px;
        right:10px;
    }
    .tp-centerscroll .im-cs-content {
        min-height: 100%;
        position:absolute;
    }

    .tp-centerscroll .cs-anchor {
        position:relative;
        top: -20px;
    }

    .tp-centerscroll .im-cs-items {
        margin: 0;
    }

    .tp-centerscroll .im-cs-items-spacing {
        width: 100%;
    }

    .tp-centerscroll .item {
        margin: 0px 0px 0px 0px;
    }

    .tp-centerscroll h2 {
        display: block;
        margin: 0 0 10px 0;
    }

    .tp-centerscroll h4 {
        display: inline-block;
        margin: 0 0 10px 0;
    }

    .tp-centerscroll .paragraph {
        position:relative;
        display: block;
        background-color: transparent;
    }

    .tp-centerscroll .im-cs-image {
        max-width: 100%;
        height: auto;
        margin: 10px 0px 0px 0px;
    }
    .tp-centerscroll .im-cs-startanimation {
        position: relative;
    }

    .tp-centerscroll hr {
        opacity: 0.5;
        margin:10px 0 0 0;
    }
