<div id="phototext02">
    <div class="im-tp-nav-bar"></div>
    <div class="im-tp-caption canScroll">
        <div class="items">
            {{#phototext}}
            <div class="item">
                {{#title}}
                <h2 class="im-ts-title-background">{{{title}}}</h2>
                {{/title}}
                {{#description}}
                <div class="textBlock paragraph">{{{description}}}</div>
                {{/description}}
            </div>
            {{/phototext}}
        </div>
    </div>
</div>