<div class="im-es-wrapper">
       <div class="im-es-items im-ts-paragraph-background">
           {{#scrollitem}}
             <div class="item">
                    <div class="im-es-title">
                        {{#title}}
                            <h2 class="im-ts-title-background">{{{title}}}</h2>
                        {{/title}}
                        <div class="clear"></div>
                        {{#subtitle}}
                            <h4 class="im-ts-subtitle-background">{{{subtitle}}}</h4>
                        {{/subtitle}}
                    </div>
                    {{#description}}
                        <div class="paragraph">{{{description}}}</div>
                    {{/description}}

                    {{#image.uri}}
                    <img class="im-es-image" src="{{helper(getImageUrl, {image.uri}, null, null, 500, null)}}" />
                    {{/image.uri}}
                    <hr>
             </div>
           {{/scrollitem}}
        </div>
</div>
