<div id="columns_mobile" class="mobilePage">
    <div class="wrapper im-ts-mobile-view">
        <div class="scroller">

            <div class="top_header">
                <h3>{{pagetitle}}</h3>
            </div>

            {{#news}}
            <a href="{{urlbase}}/item/{{index}}">
                <table class="index_item">
                    <tr>
                            <td class="thumb">
                            <div class="crop">
                                {{#image}}
                                    <img src="{{helper(getImageUrl, {image.uri}, 124, 124, null, null, 1)}}"  {{#image.alt}} alt="{{image.alt}}"{{/image.alt}} />
                                {{/image}}
                            </div>
                        </td>
                        <td class="title">
                             <h5>{{title}}</h5>
                            <h6>{{datetext}}</h6>
                        </td>
                        <td class="arrow">
                            <span class="im-sp im-sp-read-more-b-20"></span>
                        </td>
                    </tr>
                </table>
            </a>
            {{/news}}
            <div class="clear"></div>
        </div>
    </div>
</div>