<div class="wrapper">
    <div class="scroller">
        <div class="im-tp-pt-content">
            <div class="items">
                {{#phototext}}
                <div class="item">
                    {{#title}}
                        <h2 class="im-ts-title-background">{{{title}}}</h2>
                    {{/title}}
                    {{#descriptionmobile}}
                        <div class="text-block paragraph">{{{descriptionmobile}}}</div>
                    {{/descriptionmobile}}
                </div>
                {{/phototext}}
            </div>
            <div class="label navigationBlock">
                <a href="javascript:void(0)" class="prev im-ts-button"><span class="im-sp im-sp-arrow-left-2"></span></a>
                <div class="item-indicator"><span></span></div>
                <a href="javascript:void(0)" class="next im-ts-button"><span class="im-sp im-sp-arrow-right-2"></span></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>