<div class="wrapper im-ts-mobile-view">
    <div class="scroller">
        <div class="top_header">
            <h3>{{{title}}}</h3>
        </div>
        <div class='text'>
            <div class="paragraph">
                {{{intromobile}}}
            </div>
        </div>
        <div class='im-ts-list'>
            {{#agenda}}
            <a href="{{urlbase}}/item/{{index}}">
                <span class="label">
                    <h5>{{{title}}}</h5>
                    <h6>{{{datestr}}}</h6>
                </span>
                <span class="arrow">
                    <span class="im-sp im-sp-arrow-right"></span>
                </span>
            </a>
            {{/agenda}}
        </div>
    </div>
</div>
<div class="clear"></div>
