<div class="wrapper">
    <div class="scroller">
        <div class="fiv-text-block">
            <div class="items">
                <div class="item children-pointer-events-only">
                    <div class="im-pt3-h2-wrapper">
                        <h2 class="im-ts-title-background"><span class="im-pt3-h2-text"></span></h2>
                    </div>
                    <div class="position-relative children-pointer-events-only">
                        <div class="text-block paragraph"><div class="im-pt3-paragraph"></div></div>

                        <div class="label navigationBlock">
                            <div class="im-ts-button im-pt3-up"></div>
                            <div class="item-indicator"><span class="indicator-text">1 / 4</span></div>
                            <div class="im-ts-button im-pt3-down"></div>

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
