<div class="im-db-container">

    <header>
        <h1>Dynamic blocks template <span>Subtitel</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>	
    </header>
    
    
    <ul class="dgrid" style='height: 1000px;'>
        <li class="dblock size-0" style='top:0; left:0;'>
            <div class="inhoud effect1">
                <div class="image" style="background-image: url('/testassets/3.jpg');"/>
                <div class="inhoud_tekst">
                    <h2>Voorbeeldtitel</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a class="btn" href="#openModal">Lees verder</a>							
                </div>
            </div>   
        </li>
        <li class="dblock size-0" style='top:0; left:310px;'>
            <div class="inhoud effect3">
                <a href="#openModal">
                <div class="image" style="background-image: url('/testassets/1.jpg');"/>
                <div class="inhoud_tekst">
                    <h2>De titel van het item</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
<!--                    <a class="btn" href="#openModal">Lees verder</a>							-->
                </div>
                </a>
            </div>
        </li>
        <li class="dblock size-1" style='top:0; left:620px;'>
            <div class="inhoud effect2">
                <a href="#openModal">
                <div class="image" style="background-image: url('/testassets/2.jpg');"/>
                <div class="inhoud_tekst">
                    <h2>Voorbeeldtitel</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a class="btn" href="#openModal">Lees verder</a>							
                </div>
                </a>
            </div>
        </li>
        
    <li class="dblock size-2" style='top:310px; left:0;'>
<!--            <figure class="effect-ruby">
                <img src="images/vierkant.jpg"/>
                <figcaption>
                    <h2>Voorbeeld <span>titel</span></h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#openModal">Lees verder</a>							
                </figcaption>			
            </figure>-->
        </li>
        <li class="dblock size-0" style='top:310px; left:310px;'>
<!--            <figure class="effect-ruby">
                <div style="background-image:url('/testassets/vierkant.jpg');"></div>
                <figcaption>
                    <h2>Voorbeeld <span>titel</span></h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#openModal">Lees verder</a>							
                </figcaption>			
            </figure>-->
        </li>
        <li class="dblock size-0" style='top:310px; left:620px;'>
<!--            <figure class="effect-ruby2">
                <img src="images/liggend2.jpg"/>
                <figcaption>
                    <h2>Voorbeeld <span>titel</span></h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#openModal">Bekijken</a>							
                </figcaption>			
            </figure>-->
        </li>
        <li class="dblock size-0" style='top:310px; left:930px;'>
<!--            <figure class="effect-ruby2">
                <img src="images/liggend2.jpg"/>
                <figcaption>
                    <h2>Voorbeeld <span>titel</span></h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#openModal">Bekijken</a>							
                </figcaption>			
            </figure>-->
        </li>
        <li class="dblock size-1" style='top:620px; left:310px;'>
<!--            <figure class="effect-ruby2">
                <img src="images/liggend2.jpg"/>
                <figcaption>
                    <h2>Voorbeeld <span>titel</span></h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#openModal">Bekijken</a>							
                </figcaption>			
            </figure>-->
        </li>
        <li class="dblock size-0" style='top:620px; left:930px;'>
<!--            <figure class="effect-ruby2">
                <img src="images/liggend2.jpg"/>
                <figcaption>
                    <h2>Voorbeeld <span>titel</span></h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="#openModal">Bekijken</a>							
                </figcaption>			
            </figure>-->
        </li>
    </ul>
    
</div>
            
            
            
<div id="openModal" class="modalDialog">
        
        <div class="dummy-img" style="background-image: url('/testassets/3.jpg');"/>
        <a href="#close" title="Close" class="close">&#10005;</a>
        
        <a href="#previous" title="Previous" class="previous2 ">&#x276e;</a>
        <a href="#next" title="Next" class="next2">&#10095;</a>
        
            <div class="content">
                <div>
                    <h1 class="dummy-text">Voorbeeld titel</h1>
                    <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                </div>
            </div>

</div>