<div class="wrapper im-ts-mobile-view">
    <div class="scroller">
        <div class="top_header">
            <h3>{{title}}</h3>
        </div>
        <div class='im-ts-list'>
        {{#product}}
        <a href="{{urlbase}}/item/{{index}}">
            <span class="thumb">
                {{#image}}
                <img src="{{helper(getImageUrl, {image.uri}, 124, 124, null, null, 1)}}" {{#image.alt}} alt="{{image.alt}}"{{/image.alt}}  />
                {{/image}}
            </span>
            <div class="label">
                <h5>{{title}}</h5>
                <h6>{{{price}}}</h6>
            </div>
            <span class="arrow">
                <span class="im-sp im-sp-arrow-right"></span>
            </span>
        </a>
        {{/product}}
        </div>
    </div>
</div>
<div class="clear"></div>