.tp-m-product .im-ts-mobile-view .im-ts-list h1.im-ts-title.tp-m-product .im-ts-mobile-view .im-ts-list {
    border: none;
}
.tp-m-product .im-ts-mobile-view .im-ts-list .text {
    border-bottom: 1pt solid rgba(0, 0, 0, 0.07);
}
.tp-m-product .im-ts-mobile-view  .im-ts-list > div,
.tp-m-product .im-ts-mobile-view  .im-ts-list > a {
    color: inherit;
    opacity: 1;
    width: 100%;
    margin: 0px 0 0 0px;
    height: auto;
    border-bottom: 1pt solid rgba(0, 0, 0, 0.07);
    display: table;
}
.tp-m-product .im-ts-mobile-view  .im-ts-list span.thumb {
    text-align: left;
    width: 74px;
    overflow: hidden;
    display: table-cell;
}
.tp-m-product .im-ts-mobile-view  .im-ts-list div.label {
    padding: 12px 12px 12px 20px;
    text-align: left;
    opacity: 1;
}
.tp-m-product .mobile-header-background {
    height: auto;
}
.tp-m-product .im-ts-list .text {
    box-sizing: border-box;
}