
/** MOBILE CSS **/
@import url('mobile.css') screen and (max-width: 767px);

@media only screen and (min-width: 960px) {
    .theme-2 .tp-gallery .table {
        padding-right:75px;
    }
    .theme-2 #galleryContainer {
        margin-left:-35px;
    }
    .theme-2 .im-cl-gallery-nav>div.im-cl-gallery-next,.theme-2 .im-cl-gallery-nav>div.im-cl-gallery-close {
        margin-right:35px;
    }
    .theme-2 .im-cl-gallery-nav>div.im-cl-gallery-prev {
        margin-left:40px;
    }
}
@media only screen and (min-width: 768px) {

    #galleryContainer {
        display: none;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .tp-gallery #gallery {
        -webkit-perspective: 800;
        -webkit-perspective-origin: 50% 200px;
        -moz-perspective: 800;
        -moz-perspective-origin: 50% 200px;
        -o-perspective: 800;
        -o-perspective-origin: 50% 200px;
        perspective: 800;
        perspective-origin: 50% 200px;

        position:absolute;
        top:0;
        z-index:2;
    }

    #photogallery.style-2 #gallery {
        -webkit-perspective: 800;
        -webkit-perspective-origin: 50% 50%;
        -moz-perspective: 800;
        -moz-perspective-origin:  50% 50%;
        -o-perspective: 800;
        -o-perspective-origin: 50% 50%;
        perspective: 800;
        perspective-origin: 50% 50%;
    }

    .tp-gallery #gallery > div {
        position:relative;
        width:500px;
        margin:auto;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    #photogallery.style-2 #gallery > div {
        width:auto;
    }

    .tp-gallery #gallery > div > div{
        width: 500px;
        height: 400px;
        position:absolute;
        top:0px;
        -moz-transition: all 400ms ease-in-out;
        -webkit-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        background-size:cover;
        background-color: #FFFFFF;
        background-position:center center;
        background-repeat: no-repeat;
        border: 4px solid white;
    }

    .tp-gallery #gallery > div > div .im-ts-button-close{
        -moz-transition: all 400ms ease-in-out 0s;
        -webkit-transition: all 400ms ease-in-out 0s;
        -o-transition: all 400ms ease-in-out 0s;
        transition: all 400ms ease-in-out 0s;
        opacity: 0;
    }

    .tp-gallery #gallery > div > div.active .im-ts-button-close{
        opacity: 1;
        line-height: 4px;
    }

    .tp-gallery #gallery > div > div .label{
        bottom:0px;
        height:0px;
        background:#fff;
        -moz-transition: all 400ms ease-in-out;
        -webkit-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        padding-top: 4px;
        width: 100%;
        overflow: hidden;
        position:absolute;
    }

    .tp-gallery #gallery > div > div.active .label{
        height: 32px;
    }

    .tp-gallery  #galleryControls > a {
        float:left;
    }
    .tp-gallery #galleryControls {
        position:absolute;
        bottom:30px;
        left: 200px;
    }

    .tp-gallery .im-ga-image-button{
        position: absolute;
        bottom: 43px;
        right: 10px;
        visibility: hidden;
    }

    .tp-gallery .active .im-ga-image-button{
        visibility: visible;
    }

    .tp-gallery .cell {
        width:150px;
        height:150px;
        margin:10px 0px 0 10px;
        background-size: cover;
        background-position:center;
        float:left;
        display:block;
    }

    .tp-gallery .cell.im-pg-text {
        width:300px;
        background:none;
        font-size: 12px;
        margin: 0 20px 20px 0;
        padding-top: 10px;
    }

    .tp-gallery .cell.im-pg-text h2 {

        margin: 0px 0 10px 0;
    }

    .tp-gallery .portrait .table {
        height:800px;
    }
    .tp-gallery .portrait .table .cell{
        margin:20px 0px 0 20px;
    }

    .tp-gallery .portrait .cell.im-pg-text {
        width:300px;
    }

    .tp-gallery .portrait #gallery > div{
        margin-top: 150px;
    }
    .tp-gallery .portrait #galleryControls {
        bottom:60px;
    }

    .tp-gallery #gallery .button.round {
        padding: 2px;
    }

    .tp-gallery #gallery .button.round > span {
        top: 2px;
    }

    .tp-gallery #gallery .next, #gallery .prev {
        float: none;
        width: 33px;
        height: 33px;
        border-radius: 5px;
        text-align: center;
        margin: 0 5px 0 0;
        padding: 0;
    }

    .tp-gallery #gallery span.description {
        position: absolute;
        left: 85px;
        width: 100%;
        overflow: hidden;
        font-size: 14px;
        line-height: 33px;
    }
    .tp-gallery.style-2 #gallery span.description{
        left: auto;
        bottom: 0;
        padding: 0px 10px;
    }

    .tp-gallery .table {
        padding:25px;
        position:relative;
        transition:all 400ms linear;
        -webkit-transition:all 400ms linear;
        -moz-transition:all 400ms linear;
        -o-transition:all 400ms linear;
    }


    .tp-gallery .photos {
        overflow-y: auto;
        position: relative;
        -webkit-overflow-scrolling: touch;
    }

    .tp-gallery .portrait .cell.im-pg-text {
        width:300px;
    }
}
